<!DOCTYPE html>
<html>

<head>

  <title>Vue Example</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    .red {
      color: red;
    }
  </style>
</head>

<body>
  <section id="app" class="section" v-cloak>
    Filter: <input type="text" v-model.trim="searchQuery" />
    <block v-on:getalert="eventChild"></block>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('block', {
      props: ['status'],
      template: `
      <div>
          <hr />
          <h4>UNDONE!</h4>
          <ul v-for="(queryBlock, index) in this.$root.filteredQueries" :key="'undone' + index" v-show="!queryBlock.status">
              <li v-on:click="$emit('getalert', index)" :class="{ 'red': queryBlock.status }">{{ queryBlock.name }}</li>
          </ul>
          <hr />
          <h4>DONE!</h4>
          <ul v-for="(queryBlock, index) in this.$root.filteredQueries" :key="'done' + index" v-show="queryBlock.status">
              <li v-on:click="$emit('getalert', index)" :class="{ 'red': queryBlock.status }">{{ queryBlock.name }}</li>
          </ul>
      </div>
      `,
      methods: {
        /*
        emit: function () {
          this.$emit('event_child', 1)
        }
        */
      }
    });

    var app = new Vue({
      el: "#app",
      data: {
        searchQuery: '',
        blocks: [{
            id: 1,
            status: false,
            name: 'Jhon Snow'
          },
          {
            id: 2,
            status: false,
            name: 'Deanerys Targarian'
          },
          {
            id: 3,
            status: false,
            name: 'Jaime Lanister'
          },
          {
            id: 4,
            status: false,
            name: 'Tyron Lanister'
          }
        ]
      },
      computed: {
        filteredQueries() {
          var self = this;
          return this.blocks.filter(val => val.name.toLowerCase().indexOf(self.searchQuery.toLowerCase()) >= 0)
        }
      },
      methods: {
        eventChild: function (id) {
          (this.blocks[id].status == true) ? this.blocks[id].status = false: this.blocks[id].status = true
        }
      }
    });
  </script>

</body>

</html>