<!DOCTYPE html>
<html>

<head>
    <title>Vue Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/dropdown.css" />
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/transition.css" />
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/popup.css" />
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/menu.css" />

    <script src="https://semantic-ui.com/examples/assets/library/jquery.min.js"></script>
    <script src="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/dropdown.js"></script>
    <script src="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/transition.js"></script>
    <script src="https://unpkg.com/semantic-ui-forest-themes@1.0.3/components/popup.js"></script>
</head>

<body>

    <div id="app">
        <div class="ui container">
            <h1 class="ui divided header">{{title | capitalize}}</h1>
        </div>
        <div class="ui container">
            <div class="ui grid">
                <div class="ui one column grid">
                    <div class="column">

                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui relaxed divided list">
                                <div class="item">
                                    <div class="ui fluid form">
                                        <div class="sixteen wide fields">
                                            <div class="twelve wide field">
                                                <label>What is next?</label>
                                                <input type="text" v-model="todoItem" v-on:keyup.enter="addItem"
                                                    placeholder="Type an item!">
                                            </div>
                                            <div class="four wide field">
                                                <label>Priority</label>
                                                <select class="ui dropdown" v-model="selected">
                                                    <option value="">0</option>
                                                    <option v-for="(priority, index) in 10" :value="index+1">
                                                        {{ priority }}</option>
                                                </select>
                                            </div>
                                            <div class="two wide field">
                                                <label>or Press Enter!</label>
                                                <input type="button" class="ui submit button" v-on:click="addItem"
                                                    value="Add">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item" v-for="(todo, index) in orderedTodos" :key="index"
                                    v-show="todo.isActive">
                                    <div class="ui checkbox" v-bind:class="[todo.done ? 'disabled' : 'undone']">
                                        <input type="checkbox" tabindex="0" @click="todo.done = !todo.done"
                                            :checked="todo.done" />
                                        <label>{{ todo.content | capitalize }}</label>
                                    </div>
                                    <a class="ui right floated mini label"
                                        v-on:click.once="todo.isActive = false">Hide</a>
                                    <a class="ui right floated mini label"
                                        :class="priorityColors[todo.priority]">{{ todo.priority }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script>
        var todoList = new Vue({
            el: '#app',
            data: {
                title: 'todos',
                todoItem: '',
                selected: '',
                priorityColors: ['', 'grey', 'pink', 'olive', 'purple', 'violet', 'blue', 'green', 'yellow',
                    'orange', 'red'
                ],
                todos: [{
                        done: true,
                        priority: 10,
                        content: 'Smile!',
                        isActive: true
                    },
                    {
                        done: false,
                        priority: 8,
                        content: 'Learn JavaScript',
                        isActive: true
                    },
                    {
                        done: false,
                        priority: 9,
                        content: 'Learn Vue.js',
                        isActive: true
                    }
                ]
            },
            filters: {
                capitalize: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    return value.charAt(0).toUpperCase() + value.slice(1)
                }
            },
            methods: {
                doneItem: function () {
                    return this.done = 'clicked';
                },
                addItem: function () {
                    if (this.todoItem !== '' && this.selected > 0) {
                        this.todos.push({
                            done: false,
                            isActive: true,
                            content: this.todoItem,
                            priority: this.selected
                        })
                        this.todoItem = '';
                    }
                }
            },
            computed: {
                orderedTodos: function () {
                    return this.todos.sort((a, b) => {
                        return b.priority - a.priority;
                    });
                }
            }
        })
    </script>

    <script>
        $('select.dropdown').dropdown();
    </script>

    <style>
        #app {
            margin-top: 30px;
        }

        .done label {
            text-decoration: line-through;
        }
    </style>

</body>

</html>