<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <single-product v-for="product in products" :key="product.id" :product-id="product.id"
        :product-name="product.name" />
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('single-product', {
      props: {
        'product-id': {
          type: Number,
          require: true
        },
        'product-name': {
          type: String,
          require: true
        }
      },
      template: `
      <div>
        <p>ID: {{ productId }}</p>
        <p>Name: {{ productName }}</p>
      </div>`,
    });

    var app = new Vue({
      el: '#app',
      data: {
        products: [{
            id: 1,
            name: 'Echo Dot (3rd Gen) - Smart speaker with Alexa - Charcoal'
          },
          {
            id: 2,
            name: 'Echo Plus (2nd Gen) Bundle with Philips Hue Bulb - Sandstone'
          },
          {
            id: 3,
            name: 'Sonos One (Gen 2) - with Amazon Alexa (Black)'
          }
        ]
      }
    });
  </script>

</body>

</html>