<!DOCTYPE html>
<html>
	<head>
		<title>Vue Example</title>
	</head>
	<body>
 
		<div id="app">

			<h1>{{ message }}</h1>

		</div>
 
		<script src="https://vuejs.org/js/vue.js"></script>
 
		<script>
		var app = new Vue({
		  el: '#app',
		  data: {
				message: 'Hello World!'
			}
		})
		</script>
 
	</body>
</html>