<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vue Example</title>

    <!-- STYLEs -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />

    <!-- JSs -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

    <!-- OTHERs -->
    <style>
      [v-cloak] > * {
        display: none;
      }

      [v-cloak]::before {
        content: "loading…";
      }
    </style>
  </head>

  <body>
    <section id="app" :class="['section']" v-cloak>
      <div class="container">
        <a @click="getFromAPI('get', 'posts', 13293)">PREV POST</a> |
        <a @click="getFromAPI('get', 'posts', 1840)">CURRENT POST</a> |
        <a @click="getFromAPI('get', 'posts', 13554)">NEXT POST</a>
        <h1
          v-bind:id="'title-' + index"
          :class="['title']"
          v-for="(title, status, index) in postDetails['title']"
          :key="'title' + index"
          v-if="status === 'rendered'"
          v-if="typeof postDetails['title'] == 'object'"
        >
          <a
            :href="postDetails['link']"
            :title="postDetails['title']"
            v-text="postDetails['title']['rendered']"
          ></a>
        </h1>
        <article class="box">
          <ul v-if="!error" class="hero">
            <li>ID: {{ postDetails["id"] }}</li>
            <li>Date: {{ postDetails["date"] }}</li>
            <li>Modified: {{ postDetails["modified"] }}</li>
            <li>Slug: {{ postDetails["slug"] }}</li>
            <li>Categories: {{ postDetails["categories"] }}</li>
            <li>Tags: {{ postDetails["tags"] }}</li>
          </ul>
          <div
            v-bind:id="'post-' + index"
            :class="['section']"
            v-for="(content, status, index) in postDetails['content']"
            :key="'post' + index"
            v-html="content"
            v-if="status === 'rendered'"
            v-if="typeof postDetails['content'] == 'object'"
          ></div>
        </article>
      </div>
    </section>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          id: 1840,
          postDetails: "",
          error: ""
        },
        created() {
          this.getFromAPI("get", "posts", this.id);
        },
        mounted() {},
        updated() {},
        computed: {},
        methods: {
          getFromAPI(method, slug, val) {
            /*
					const types = ['number', 'array', 'string', 'undefined', 'function', 'object', 'boolean'];
					*/
            if (typeof val == "array" || typeof val == "object") {
              for (i = 0; i < val.length; i++) {
                i === 0
                  ? this.apiQuery("get", "posts", val[i])
                  : console.log(
                      "Multiple post is not allowed! Next ID: " + val[i]
                    );
              }
            } else if (typeof val == "number") {
              this.apiQuery("get", "posts", val);
            } else {
              console.log("There is an issue about " + val);
            }
          },
          apiQuery(method, endpoint, val) {
            const instance = {
              baseURL: "https://ceaksan.com/tr/wp-json/wp/v2",
              headers: {
                "Content-Type": "application/json; charset=UTF-8"
              }
            };
            if (typeof val === "number") {
              axios[method](
                instance.baseURL + "/" + endpoint + "/" + val,
                instance
              )
                .then(response => (this.postDetails = response.data))
                .catch(error => (this.error = error));
            }
          }
        },
        watch: {}
      });
    </script>
  </body>
</html>
