<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <h1>{{ message }}</h1>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('button-counter', {
      data: function () {
        return {
          count: 0
        }
      },
      methods: {
        addCount() {
          return this.count++
        }
      },
      template: '<button v-on:click="addCount()">You clicked me {{ count }} times.</button>'
    })

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Favorite Authors',
      }
    });
  </script>

</body>

</html>