<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<style>
	label {
		min-width: 150px;
		display: block;
		margin-top: 10px;
		padding: 20px 0 10px 0;
	}
</style>

<body>

	<div id="app">

		<h1 v-text="message"></h1>
		<h1>{{ message.split('').reverse().join('') }}</h1>
		<h1 v-text="reversedComputed">{{ reversedComputed }}</h1>
		<h1 v-text="reversedComputed">{{ reverseMessage() }}</h1>
		<strong>{{ age }}</strong>

		<br />
		<label>V-Model:</label>
		<input type="text" v-model="message" />

		<br />
		<label>V-Model.lazy (press Enter):</label>
		<input type="text" v-model.lazy="message" />

		<br />
		<label>V-Model.trim (without whitespaces):</label>
		<input type="text" v-model.trim="message" />

		<br />
		<label>V-Model.number:</label>
		<input type="text" v-model.number="age" />

		<br />
		<label>V-Model with Computed Usage:</label>
		<input type="text" :value="reversedComputed" />

		<br />
		<label>V-Model Alternative:</label>
		<input v-bind:value="message" v-on:input="message = $event.target.value" />
	</div>

	<script src="https://vuejs.org/js/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello World!',
				age: 20,
				object: {
					firstName: 'John',
					lastName: 'Doe',
					age: 30
				},
				todos: [{
						done: true,
						priority: 5,
						content: 'Smile!'
					},
					{
						done: false,
						priority: 7,
						content: 'Learn JavaScript'
					},
					{
						done: false,
						priority: 8,
						content: 'Learn Vue.js',
					}
				]
			},
			computed: {
				ordered() {
					return this.todos.sort((a, b) => {
						return b.priority - a.priority;
					});
				},
				reversedComputed() {
					return this.message.split('').reverse().join('')
				}
			},
			methods: {
				usePush() {
					return this.todos.push({
						done: false,
						priority: 2,
						content: 'Learn a new thing!',
					})
				},
				useUnshift() {
					return this.todos.unshift({
						done: false,
						priority: 2,
						content: 'Learn a new thing!',
					})
				},
				useSplice(id) {
					return this.todos.splice(2)
				},
				reverseMessage: function () {
					return this.message.split('').reverse().join('')
				}
			}
		})
	</script>

</body>

</html>