<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <section id="app" class="section" v-cloak>
    <div class="container">
      <component is="notification">Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor.
        Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
        Nullam gravida purus diam, et dictum felis venenatis efficitur. Sit amet, consectetur adipiscing elit
      </component>

      <component is="warning">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </component>
    </div>
  </section>

  <script>
    const newMixin = {
      data() {
        return {
          show: true,
        }
      },
      methods: {
        hide() {
          if (this.show == true) {
            this.show = false;
            console.log('hidden!')
          }
        }
      }
    }

    Vue.component('notification', {
      mixins: [newMixin],
      data() {
        return {}
      },
      template: `
      <div class="notification" v-if="show">
        <button class="delete" v-on:click="hide()"></button>
        <slot></slot>
      </div>
      `,
      methods: {

      }
    });

    Vue.component('warning', {
      mixins: [newMixin],
      data() {
        return {}
      },
      template: `
      <div class="notification is-primary" v-if="show">
        <button class="delete" v-on:click="hide()"></button>
        <slot></slot>
      </div>
      `
    })

    var app = new Vue({
      el: "#app",
      data: {

      },
    });
  </script>
</body>

</html>