<!DOCTYPE html>
<html>
	<head>
		<title>Vue Example</title>
	</head>
	<body>
 
		<div id="app">

			<h1>{{ message }}</h1>
			<h2>{{ message.split('').reverse().join('') }}</h2>

			<p><strong>5 x {{ number }}</strong> is <span style="color: red;">{{ number * 5 }}</span></p>
			
			<p>
				Q: Is It private?<br />
				A: {{ private ? 'YES' : 'NO' }}
			</p>
			
			<ul>
				<li v-for="n in 10" v-bind:id="'list-' + n">{{ number + n }}</li>
			</ul>
		
			{{ message |  uppercase }}

		</div>
 
		<script src="https://vuejs.org/js/vue.js"></script>
 
		<script>
		new Vue({
		  el: '#app',
		  data: {
				message: 'Hello World!',
				private: false,
				number: 10
			},
			filters: {
				uppercase: function(value) {
					// veya uppercase(value) {
						return value.toUpperCase()
				}
			}
		})
		</script>
 
	</body>
</html>