<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>
	<div id="app">
		<p v-html="message"></p>
		<ul>
			<li>Name: <strong>{{ firstName }}</strong></li>
			<li>Surname: <strong>{{ lastName }}</strong></li>
			<li>Full Name: <strong>{{ fullNameWatch }}</strong></li>
		</ul>
		<p>{{ addToAcomputed }} {{ addToBcomputed }}</p>
		<p>{{ addToAmethod() }} {{ addToBmethod() }}</p>

		<button v-on:click="a++">Add to A</button>
		<button v-on:click="b++">Add to B</button>
		<p>Age + A = {{ addToAmethod() }}</p>
		<p>Age + B = {{ addToBmethod() }}</p>
		<p>Age + A = {{ addToAcomputed }}</p>
		<p>Age + B = {{ addToBcomputed }}</p>
	</div>

	<script src="https://vuejs.org/js/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: 'It\'s a New Day!',
				firstName: 'John',
				lastName: 'Doe',
				fullName: 'John Doe',
				a: 0,
				b: 0,
				age: 20
			},
			computed: {
				fullNameWatch() {
					return this.firstName + ' ' + this.lastName
				},
				addToAcomputed: function () {
					console.log('addToAcomputed');
					return this.a + this.age;
				},
				addToBcomputed: function () {
					console.log('addToBcomputed');
					return this.b + this.age;
				}
			},
			watch: {

			},
			methods: {
				addToAmethod: function () {
					console.log('addToAmethod');
					return this.a + this.age;
				},
				addToBmethod: function () {
					console.log('addToBmethod');
					return this.b + this.age;
				}
			}
		})
	</script>

</body>

</html>