<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://semantic-ui.com/dist/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    body>div.container:first-of-type {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div id="app" class="ui container" v-cloak>
    <div class="row">
      <div class="one wide column">
        <div class="ui link cards">
          <person inline-template>
            <div>
              <div>{{ age }}</div>
              <button @click="age += 10">+10</button>
            </div>
          </person>
        </div>
      </div>
    </div>
  </div>

  <script>
    Vue.component('person', {
      template: `
      <div></div>
      `,
      data() {
        return {
          age: 0
        }
      }
    });

    var app = new Vue({
      el: '#app',
      data: {

      }
    });
  </script>

</body>

</html>